/* css home page */
body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(135deg,  #1f2b37 5%, #1F2B37 82%);
}

body div {
    padding: 0px;
    margin: 0px;
    float: none;
}

#header1 #headerColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header1 #headerColumn img {
    filter: invert(90%) sepia(9%) saturate(2086%) hue-rotate(75deg) brightness(96%) contrast(97%);
}

#header1 #headerColumn #storeLogo {
    width: 250px;
    height: 100px;
}

/* css 4 search box header */

.topnav input[type=text] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    padding-left: 15px;
    margin: 0;
    font-size: 22px;
    height: 50px;
    width: 250px;   
    border: solid black 1px; 
}

.topnav button {
    width: 50px;
    height: 50px;  
    background: #f9f9f9;
    font-size: 22px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.topnav button:hover{
    
    background:#f9f9f9;
}

/* css navbar & navbar menu */
#navigationBar{ 
    width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#navbarNav #mainMenu {
    padding: 0px;
    margin: 0px;
    column-gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigationBar #navigationColumn {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbarNav #mainMenu li {
    list-style:none;
    padding: 0px;
    margin: 0px;  
    height: fit-content;   
}

#mainMenu #aboutMenu a, #mainMenu #catalogueMenu a  {
    text-align: left;
    background-color: #1F2B37;    
}

#mainMenu #aboutMenu a:hover, #mainMenu #catalogueMenu a:hover {
    background-color: #1F2B37;  
}

#mainMenu a {
    color: #77f2a1;
    height: fit-content;
    text-align: center;
    padding: 0px;
    margin: 0px; 
    border-bottom: solid #77f2a1 5px;
    font-size: medium;
}

#mainMenu .nav-item #login {
    
    width: 95px;
}

#mainMenu a:hover{
    color: #f9f9f9;
    border-bottom: solid #f9f9f9 5px;
}

.nav-item ul {
    padding: 0px;
    margin: 0px;  
    margin-left: 40PX; 
}


.nav-item #aboutMenu { 
    margin-left: 140px;  
}

#navbarNav #cartSmsMenu li {
    list-style:none;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    margin-inline: 15px;      
}

#navbarNav #cartSmsMenu a{
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border-radius: 25px;    
}

#navbarNav #cartSmsMenu img{
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border-color: #77f2a1;
    border-radius: 25px;
    filter: invert(90%) sepia(9%) saturate(2086%) hue-rotate(75deg) brightness(96%) contrast(97%);
}

#navbarNav #cartSmsMenu img:hover {
    filter: invert(100%) sepia(1%) saturate(10%) hue-rotate(348deg) brightness(106%) contrast(95%);
    background-color: #dddddd;
}

.amount {
    box-sizing: content-box;
    border-radius: 2.5px;
    margin: 0;
    padding: 0;
    color: #f9f9f9;
    position: absolute;
    top: 20px;
    right: -60px;
    font-size: small;
    font-weight: bold;
}

.quantity {
    box-sizing: content-box;
    border-radius: 2.5px;
    margin: 0;
    padding: 0;
    color: #f9f9f9;
    position: absolute;
    top: 5px;
    right: -65px;
    font-size: small;
    font-weight: bold;
}

#quantity1 {
    border-radius: 2.5px;
    margin: 0;
    padding: 0;
    color: #1f2b37;
    width: 50%;
    text-align: center;
}

/* On screens that are 600px or less, set... */
@media screen and (max-width: 720px) {
    #quantity1 {
        width: 35px;
    }  
}

#navbarNav #mediaMenu li {
    
    list-style:none;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    margin-inline: 15px;
}

#navbarNav #mediaMenu img{
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border-radius: 25px;
    filter: invert(90%) sepia(9%) saturate(2086%) hue-rotate(75deg) brightness(96%) contrast(97%);
}

#navbarNav #mediaMenu a{
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border-radius: 25px;    
}

#navbarNav #mediaMenu img:hover{
    filter: invert(100%) sepia(1%) saturate(10%) hue-rotate(348deg) brightness(106%) contrast(95%);
    background-color: #dddddd;
}

/* MAIN SLIDER */

#demo {
    margin: 0;
    padding: 0;
}

#demo img {
    margin: 0;
    padding: 0;
    border: solid #f9f9f9 1px;
    border-radius: 5px;
    width: 100%;
    min-height: 300px;
}

#slider {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;   
    min-height: 300px;
}

/* MAIN SECTION */

#mainSection {
    padding: 0px;
    margin: 0px;
    /*background-color:#1F2B37;*/
}

#mainSection .container {
    margin-top: 55px;
    margin-bottom: 55px;
    min-width: 100%;
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 55px;
    height: 100%;
}

#mainSection #gridNewest{
    width: 100%;
    min-height: 400px; 
}

#mainSection #gridMostSelled{
    width: 100%;
    min-height: 400px; 
}

#mainSection #banner1MainSection{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr;
    align-items: center;
    justify-content: center;
    gap: 2.5px;
}

#mainSection #banner2MainSection {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}

#banner1MainSection .demo-bg, #banner2MainSection .demo-bg {
    display: block;
    margin: 0 auto;
    padding: 0;
    opacity: 0.88;
    width: 55px;
    height: 55px;
    filter: invert(90%) sepia(9%) saturate(2086%) hue-rotate(75deg) brightness(96%) contrast(97%);
    /*black filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(96%) contrast(104%);*/
}

#banner1MainSection .article {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 15px;
    border-radius: 2.5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 228, 230, 0.178);
    color: #77f2a1;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

#banner2MainSection .article {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
    border-radius: 2.5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 228, 230, 0.178);
    color: #77f2a1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

/* On screens that are 600px or less, set...
@media screen and (max-width: 720px) {
    #mainSection .container {
        display: flex;
        flex-direction: column;
    }
}*/

/* CSS PARA LOS ITEMS DEL GRID DE PRODUCTOS */

.grid-container {
    height: 400px;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
}
  
.grid-item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid-container .grid-item img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 242px;
    height: 220px;
}

 /* BANNER SECTION */

#bannerSection {
    min-width: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/* On screens that are 600px or less, set... */
@media screen and (max-width: 720px) {
    #bannerSection {
        display: flex;
        flex-direction: column;
    }
}

#bannerSection #sectionBanner1, #bannerSection #sectionBanner2, #bannerSection #sectionBanner3 {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0px;
}

#bannerSection img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
}

/* css para el footer */

#footer .row{
    height: 250px;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #77f2a1;
    color: #1F2B37;
}

