* {
  margin: 0;
  padding: 0;
  outline: none;
}

.item {
  width: 100%;
  height: 100%; 
  /*box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}


.item .item-head {
  width: 100%;
  height: 320px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-top: solid black 1px;
  /* Old browsers */
  /*background: -moz-linear-gradient(-45deg, #d66b2d 8%, #c82930 83%);
  /* FF3.6-15 */
  /*background: -webkit-linear-gradient(-45deg, #d66b2d 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(135deg,  #e0ecde 8%, #68b2a0 82%);*/
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #d66b2d', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */ 
}

.item .item-head .article {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 6fr 1fr;
  justify-content: center;
  align-items: center;
}

.item-body {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}

.item .item-body .article {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

/* PRODUCT'S NAME*/
.item-head .article h2 {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
  text-decoration: underline;
  font-weight: bolder;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item .item-head .article:hover h2 {
  display: unset;
  text-overflow: unset;
  overflow: unset;
  color: dodgerblue;
  white-space: unset;

}

/* PRODUCT'S PRICE  */
.item-head .price {
  margin: 0;
  padding: 0;
  font-size: 20px;
  background: #77f2a1;
  color: #1F2B37;
  border: solid #77f2a1 1px;
}

.item-body #agregar {
  border: solid black 2px;
  margin: 0;
  padding: 0px;
  cursor: pointer;
  font-size: medium;
  border-radius: 2.5px;
  background-color: #1F2B37;
  color: azure;
  width: fit-content;
  height: fit-content
}

/* On screens that are 600px or less, set... */
@media screen and (max-width: 720px) {
  .item-body #agregar{
      font-size: 15px;
      padding: 1.5px;
      font-weight: lighter;
  }  
}

.item-body #quantity1{
  margin: 0;
  padding: 0;
  width: 55px;
  height: fit-content;
  border-radius: 2.5px;

}

.item-body #less, .item-body #more{
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 20px;
  text-align: center;
  justify-content: center;
  color: #f9f9f9;
  background-color: #1F2B37;
}

.new {
  background:#77f2a1;
  color: #1F2B37;
  padding: 0px;
  text-transform: uppercase;
  /*display: flex;*/
  width: fit-content;
  height: fit-content;
}

.sellest {
  background:crimson;
  color: #f9f9f9;
  padding: 0px;
  text-transform: uppercase;
  
  width: fit-content;
  height: fit-content;
}

#demo #flechaSliderIzq, #demo1 #flechaSliderIzq , #demo2 #flechaSliderIzq{
  border: solid white 2px;
  height: 45px;
  width: 45px;
  background: linear-gradient(135deg,  #c82930 8%, #d66b2d  83%);
  border-radius: 25px;
  top: 50%;
}

#demo #flechaSliderDer, #demo1 #flechaSliderDer, #demo2 #flechaSliderDer{
  border: solid white 2px;
  height: 45px;
  width: 45px;
  background: linear-gradient(135deg,  #c82930 8%, #d66b2d  83%);
  border-radius: 25px;
  top: 50%;
}